Part1: Python Programming

Exercise 1: Social Media UserName

In [ ]:
import random
import string

def UsernameGenerator():
    digits = string.digits
    lowercase_letters = string.ascii_lowercase

    # Select 3 random digits and 5 random lowercase letters
    random_digits = ''.join(random.choices(digits, k=3))
    random_letters = ''.join(random.choices(lowercase_letters, k=5))

    # Combine the random digits and letters
    username = random_digits + random_letters
    return username


# Example usage:
username = UsernameGenerator()
print(username)

Exercise 2: Gambling Scheme

In [ ]:
import random
import string

def PasswordGenerator():
    uppercase_letters = string.ascii_uppercase
    lowercase_letters = string.ascii_lowercase
    digits = string.digits
    special_characters = string.punctuation

    # Select one character from each category
    random_uppercase = random.choice(uppercase_letters)
    random_lowercase = random.choice(lowercase_letters)
    random_digit = random.choice(digits)
    random_special = random.choice(special_characters)

    # Select remaining characters randomly
    random_chars = [
        random.choice(uppercase_letters + lowercase_letters + digits + special_characters)
        for _ in range(8)
    ]

    # Combine all characters and shuffle
    password_list = [random_uppercase, random_lowercase, random_digit, random_special] + random_chars
    random.shuffle(password_list)

    # Convert the list to a string
    password = ''.join(password_list)
    return password


# Example usage:
password = PasswordGenerator()
print(password)

Exercise 3: Gregorian to Ordinal D

In [ ]:
def is_leap_year(year):
    """
    Check if a year is a leap year.
    """
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

def ordinalDate(day, month, year):
    """
    Calculate the day within the year for a given date.
    """
    days_in_month = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

    if is_leap_year(year):
        days_in_month[2] = 29

    day_count = 0
    for i in range(1, month):
        day_count += days_in_month[i]

    day_count += day

    return day_count


# Example usage:
day = 14
month = 10
year = 2023
result = ordinalDate(day, month, year)
print(result)

Exercise 4: Fix the Pass

In [ ]:
import string
import random

def generate_password():
    lowercase_letters = string.ascii_lowercase
    uppercase_letters = string.ascii_uppercase
    digits = string.digits
    punctuation = string.punctuation

    # Select 2 random characters from each category
    random_lowercase = ''.join(random.choices(lowercase_letters, k=2))
    random_uppercase = ''.join(random.choices(uppercase_letters, k=2))
    random_digits = ''.join(random.choices(digits, k=2))
    random_punctuation = ''.join(random.choices(punctuation, k=2))

    # Combine all the random characters and shuffle
    password_list = list(random_lowercase + random_uppercase + random_digits + random_punctuation)
    random.shuffle(password_list)

    # Convert the list to a string
    password = ''.join(password_list)
    return password


# Get the customer's name
name = input("Enter your name: ")

# Generate the password
password = generate_password()

# Print the generated password
print(f"Hello {name}, your password is: {password}")

Part 2 : Database Programming using SQL

Exercise 5: HR Analysis

In [ ]:
#1)
SELECT first_name, last_name
FROM employees
WHERE salary > 20000;

In [ ]:
#2)
SELECT first_name, last_name
FROM employees
WHERE department_id IN (SELECT department_id FROM departments WHERE department_name = 'Sales');

In [ ]:
#3)
SELECT first_name, last_name, salary, salary * 0.12 AS Portfolio
FROM employees;

In [ ]:
#4)
SELECT e.first_name, e.last_name, e.salary
FROM employees e
JOIN (SELECT department_id, AVG(salary) AS avg_salary FROM employees GROUP BY department_id) d
ON e.department_id = d.department_id
WHERE e.salary > d.avg_salary;

In [ ]:
#5)
SELECT e.first_name, e.last_name, j.job_title
FROM employees e
JOIN jobs j ON e.job_id = j.job_id
WHERE j.job_title = 'Finance Manager';

In [ ]:
#6)
SELECT SUBSTR(first_name, 1, 3) AS first_three_chars
FROM employees;

In [ ]:
#7)
SELECT COUNT(DISTINCT job_id) AS job_count
FROM employees;

Part3 : Connecting to Databases using Python and SQLite3

Exercise 6:

In [ ]:
import pandas as pd
import sqlite3

# 1. Connecting to the Chinook database
conn = sqlite3.connect('chinook.db')

# 2. Function to execute SQL queries and return results as a pandas dataframe
def run_query(query):
    return pd.read_sql_query(query, conn)

# 3. Customers not in the US
query_3 = """
SELECT FirstName || ' ' || LastName AS FullName, CustomerId, Country
FROM customers
WHERE Country <> 'USA';
"""
result_3 = run_query(query_3)
result_3

# 4. Customers from Brazil
query_4 = """
SELECT *
FROM customers
WHERE Country = 'Brazil';
"""
result_4 = run_query(query_4)
result_4

# 5. Invoices of customers from Brazil
query_5 = """
SELECT c.FirstName || ' ' || c.LastName AS FullName, i.InvoiceId, i.InvoiceDate, i.BillingCountry
FROM invoices i
JOIN customers c ON i.CustomerId = c.CustomerId
WHERE c.Country = 'Brazil';
"""
result_5 = run_query(query_5)
result_5

# 6. Employees who are Sales Agents
query_6 = """
SELECT *
FROM employees
WHERE Title = 'Sales Support Agent';
"""
result_6 = run_query(query_6)
result_6

# 7. Number of invoices and total sales for 2009 and 2011
query_7 = """
SELECT strftime('%Y', InvoiceDate) AS Year, COUNT(*) AS TotalInvoices, SUM(Total) AS TotalSales
FROM invoices
WHERE strftime('%Y', InvoiceDate) IN ('2009', '2011')
GROUP BY Year;
"""
result_7 = run_query(query_7)
result_7

# 8. Number of line items for Invoice ID 37
query_8 = """
SELECT COUNT(*) AS LineItemsCount
FROM invoice_items
WHERE InvoiceId = 37;
"""
result_8 = run_query(query_8)
result_8

# 9. Number of line items for each Invoice
query_9 = """
SELECT InvoiceId, COUNT(*) AS LineItemsCount
FROM invoice_items
GROUP BY InvoiceId;
"""
result_9 = run_query(query_9)
result_9

# 10. Query with track name for each invoice line
query_10 = """
SELECT il.InvoiceLineId, t.Name AS TrackName
FROM invoice_items il
JOIN tracks t ON il.TrackId = t.TrackId;
"""
result_10 = run_query(query_10)
result_10